{*<script n:nonce src="https://code.jquery.com/jquery-3.2.1.min.js"*}
        {*integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="*}
        {*crossorigin="anonymous"></script>*}

{*<script type="application/javascript" src="{$basePath}/js/front.js"></script>*}

{*{foreach $scripts as $script}*}
    {*<script n:nonce type="application/javascript" src="{$basePath}/{$script}"></script>*}
{*{/foreach}*}
{control jsVendorLoader}
{control jsLoader}