{snippet totalStats}
    <em>Choose columns that will be summarized</em>
    {control selectForm}
    <div class="row mt-3 mb-3">
        <div n:foreach="$results as $column => $result" class="col">
            <h4 class="h5">{$result['title']}</h4>
            <ul n:foreach="$result['result'] as $row" class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                    <strong class="mw-100">{$row[$column]}</strong>
                    <span class="badge badge-primary badge-pill badge-warning">{$row['count']}</span>
                </li>
            </ul>
        </div>
    </div>
{/snippet}
