{block content}
{control settingsBar ['active' => 'rolesResources']}

<div class="setting__roles-resources mt-4 container">
    <div class="row">
        <div class="col-lg">
            <h2>Roles</h2>
            {control roles}
        </div>
        <div class="col-lg">
            <h2>Resources</h2>
            {control resources}
        </div>
    </div>
</div>
