{block pluginRender}
    {if $plugins}
        {foreach $plugins as $plugin}
            <div class="plugins__plugin row">
                <div class="col-auto">
                    <img src="{$basePath}/plugins/{$plugin->identifier}/icon.png" class="backup-plugin" alt="Plugin" width="90">
                </div>
                <div class="col">
                    <strong class="plugin__name">{$plugin->name}</strong>
                    <span class="plugin__identifier">({$plugin->identifier})</span>
                    <div class="plugin__author"><em>Author: </em> {$plugin->author}</div>
                    <div class="plugin__version"><em>Version: </em> {$plugin->version}</div>
                    <div class="plugin__description"><em>Description: </em>{$plugin->description}</div>
                    <div class="plugin__actions">
                        <a title="{$uninstall ? 'Deactivate' : 'Activate'}"
                                n:class="$uninstall ? btn-secondary : btn-success, 'btn mt-1'" n:href="install! $plugin->identifier, $uninstall">
                            {$uninstall ? 'Deactivate' : 'Activate'}
                        </a>
                        <a title="Remove" n:href="remove! $plugin->identifier"
                           class="nittro-confirm btn btn-danger mt-1"
                           data-prompt="Are you sure you want to remove {$plugin->name}?"
                           data-confirm="Yes"
                           data-cancel="No">Remove</a>
                    </div>
                </div>
            </div>
        {/foreach}
    {else}
        <em>There are no plugins</em>
    {/if}
{/block}

{block content}
<div class="plugins container" n:snippet="plugins">
    <h2>Your plugins</h2>
    <p>If you want more awesome plugins, check out our <a n:href="PluginsCenter:" title="Plugins Center">Plugins Center</a>.</p>
    <hr>
    <div class="row">
        <div class="plugins__installed col-lg">
            <h3 class="h4">Activated</h3>
            {include pluginRender, plugins => $installedPlugins, uninstall => true}
        </div>
        <div class="plugins__available col-lg">
            <h3 class="h4">Available</h3>
            {include pluginRender, plugins => $availablePlugins, uninstall => false}
        </div>
    </div>
    <script n:nonce type="application/javascript">
        var plugins = document.getElementsByClassName('backup-plugin');
        for (var i = 0; i < plugins.length; i++) {
            plugins[i].onerror = function (e) {
                e.target.src = '/images/plugin.png';
            };
        }
    </script>
</div>
