<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="{$basePath}/safari-pinned-tab.svg" color="#5bbad5">
