<h3 class="h4 mt-3">Edit</h3>
{form updateForm}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Resource</th>
                <th>Role</th>
                <th>Method</th>
                <th>Read</th>
                <th>Create</th>
                <th>Update</th>
                <th>Delete</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {foreach $permissions as $permission}
                <tr>
                    <td>{$permission->resource->name}</td>
                    <td>{$permission->role->name}</td>
                    <td>{input $permission->id . '_method'}</td>
                    <td>{input $permission->id . '_read'}</td>
                    <td>{input $permission->id . '_create'}</td>
                    <td>{input $permission->id . '_update'}</td>
                    <td>{input $permission->id . '_delete'}</td>
                    <td><a class="text-danger nittro-confirm" data-prompt="Are you sure you want to remove ID {$permission->id}?"
                           data-confirm="Yes" data-cancel="No" data-history="false"
                                n:href="delete! $permission->id" title="Delete {$permission->id}"><i class="fa fa-trash"></i></a></td>
                </tr>
            {/foreach}
            <tr>
                <td colspan="7" class="text-right">{input save, class => 'btn btn-primary'}</td>
            </tr>
            </tbody>
        </table>
    </div>
{/form}

<h3 class="h4 mt-3">Create</h3>
<a href="{plink :Settings:Admin:Settings:rolesResources}" title="Edit Resources &mp; Roles">Edit Resources &amp; Roles</a>
{control createForm}{*TODO styly*}
