{define cell-isPublished}
    <i n:if="$row->isPublished" class="fa fa-check text-success"></i>
{/define}

{define col-title}
    <td class="row">
        <a href="{plink :Pages:Admin:Pages:edit id => $row->id}" class="col-auto">{$row->id}</a>
        |
        {foreach $row->getPageLocales() as $pageLocale}
            {var code = $pageLocale->locale->code}
            <div class="col-auto">
                <a href="{plink :Pages:Admin:Pages:edit id => $row->id, localeCode => $code}">
                    <img src="{$basePath}/static/{$code}.svg" alt="[{$code}]" width="20">
                    {$pageLocale->title}
                </a>
            </div>
            {sep}|{/sep}
        {/foreach}
    </td>
{/define}

{define col-preview}
    <td>
        <a target="_blank" title="Preview page {$row->id}" href="{plink :Pages:Front:Pages: id => $row->id}"><i class="fa fa-eye"></i></a>
    </td>
{/define}

