{*This content is shown only if administrator delete Homepage, which is created with installation*}
{block content}
    <div class="homepage">
        <div class="pb-4"><img src="{$basePath}/static/cms_logo.png" alt="CMS42"></div>
        <h3 class="h5">Tento CMS (Content Management System) vyvíjím jen tak pro zábavu a slouží jen jako případná ukázka mé tvorby.</h3>

        <p>Celá aplikace běží na PHP7.2 a frameworku <a href="https://nette.org/cs/" rel="nofollow" title="Nette Framework">Nette</a>.</p>

        <p>CMS není dokončen a pravděpodobně ani nikdy nebude, pracuji na něm pouze příležitostně. Přesto však poskytuje celou řadu funkcí.
            Na té veřejně přístupné části naleznete sice pouze <a href="/contact" title="Kontaktní formulář">kontaktní</a> a <a href="/sign/in"
                                                                                                                                title="Přihlásit se">
                přihlašovací</a> formulář, ale nejvíce vychytávek se skrývá právě v administraci. Ta obsahuje obecná nastavení, ale také pokročilou
            práci s oprávněním na základě rolí, zdrojů a práv. Také zde najdete datagridy pro práci s uživateli, URL adresami nebo třeba jazyky.
            Nachází se zde také pokročilý WYSIWYG editor stránek včetně vkládání dynamických prvků (komponent).</p>

        <p>Do CMS je možné stahovat pluginy a rozšiřovat tak funkce.
            Systém komunikuje s extérní aplikací, která přes REST API poskytuje procházení katalogu s pluginy a samozřejmě také jejich stahování a
            updatování. Těchto pluginů sice není mnoho (pouze 3.... a z toho jeden pouze testovací). Ale nikomu teoreticky nebrání nějaký plugin
            vytvořit
            :D.</p>

        <p>Pro Front-endovou část byl použit Bootstrap 4. Platí však, že se dá vzhled libovolně přizpůsobovat a to buď vlastním CSS nebo stáhnutím
            již hotové šablony přes systém pluginů. (Tedy kdyby nějaké šablony existovaly :D)</p>

        <p>Nepřehlédnutelnou součástí je také plně Ajaxové procházení stránek. K tomu jsem využil <a href="https://www.nittro.org" rel="nofollow"
            >Nittro</a>. To lze zase v případě potřeby vypnout přímo v administraci.</p>

        <em>Pro vstup do administrace použijte přihlašovací údaje: jméno: <strong>user</strong> a heslo: <strong>user</strong>.</em>&nbsp;<span
                style="color: rgb(230, 0, 0);">Z&nbsp;pochopitelných důvodů však s těmito údaji nelze provádět všechny operace a vstupovat do
            některých sekcí administrace!</span>

        <h4 class="h--no-style mt-2"><strong>Další použité technologie:</strong></h4>
        <ul>
            <li>Doctrine 2 (Kdyby/Doctrine)</li>
            <li>Monolog</li>
            <li>Guzzle + OAuth2</li>
            <li>Doctrine migrations, fixtures</li>
            <li>PHPStan</li>
            <li>Mockery</li>
            <li>Nette Tester</li>
            <li>Codeception</li>
            <li>Slevomat/CodingStandards</li>
            <li>Gitlab CI</li>
            <li>Gulp</li>
            <li>PhpStorm</li>
            <li>Docker</li>
            <li>PostgreSQL</li>
            <li>Blackfire</li>
            <li>Nginx</li>
        </ul>
    </div>
{/block}
