{if $user->isLoggedIn()}{control toolBar}{/if}
<h1>
    <a class="navbar-brand" href="{plink :Front:Homepage:}">{$siteName}</a>
    <small class="text-success">Adam Zelycz</small>
</h1>

{control mainMenu}
{control localeChanger}
