<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © {$year} <a href="https://www.adamzelycz.cz" title="Adam Zelycz | WEBDESIGN">Adam Zelycz</a>. Designed by <a
                href="https://colorlib.com" target="_blank"
                title="Colorlib">Colorlib</a>. All rights reserved.</span>

</footer>
