<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="Adam Zelycz - www.adamzelycz.cz">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-title" content="CMS42">
<meta name="application-name" content="CMS42">
<meta name="theme-color" content="#ffffff">

<meta n:foreach="$metas as $name => $content" name="{$name}" content="{$content}">
<meta n:foreach="$ogs as $property => $content" property="{$property}" content="{$content}">