<div class="layer w-100 p-20">
    <canvas height="197" width="740" class="chartjs-render-monitor chartjs" data-chart="{$data}"></canvas>
</div>
<div class="layer w-100 pB-20 text-center">
    <form n:name="countByForm" class="form-inline justify-content-center chart-form">
        {label countBy class => 'pR-5'}
        {input countBy}
        {label limit class => 'pR-5 pL-10'}
        {input limit class => 'form-control chart-form__limit'}
        {label unique}
        {input unique}
        {input select}
    </form>
</div>
