.anchor--no-style {
  color: inherit !important;
  text-decoration: none !important; }

.cursor--default {
  cursor: default; }

.cursor--pointer {
  cursor: pointer; }

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.font-weight-700 {
  font-weight: 700; }

.row--no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.line {
  margin: 20px 0;
  border-bottom: 1px solid Grey; }

.h--no-style {
  font-size: inherit;
  font-weight: normal;
  margin: 0; }

.h-20p {
  height: 20px !important; }

.h-30p {
  height: 30px !important; }

.h-40p {
  height: 40px !important; }

.h-50p {
  height: 50px !important; }

.form-inline-space-5 .form-group {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 3px; }

.input--inline {
  width: auto;
  display: inline-block; }

.lists--unstyled ul {
  padding-left: 0;
  list-style: none; }

.noscript-warning {
  position: relative;
  margin-bottom: 0; }

.nittro-flash-global-holder {
  top: 70px !important;
  position: absolute; }

.flashes--nonajax {
  position: fixed;
  z-index: 9912;
  left: 0;
  top: 70px;
  width: 100%;
  height: 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .flashes--nonajax__flash {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 30vw;
    max-width: 90vw;
    padding: 4px 2vw;
    text-align: center;
    margin: 2px; }

.nittro-flash-success {
  background-color: #dff0d8 !important;
  border-color: #d0e9c6;
  color: #3c763d; }

.nittro-flash-info {
  background-color: #d9edf7 !important;
  border-color: #bcdff1;
  color: #31708f; }

.nittro-flash-warning {
  background-color: #fcf8e3 !important;
  border-color: #faf2cc;
  color: #8a6d3b; }

.nittro-flash-danger {
  background-color: #f2dede !important;
  border-color: #ebcccc;
  color: #a94442; }

.nittro-flash-error {
  background-color: #f2dede !important;
  border-color: #ebcccc;
  color: #a94442; }

.alert .close {
  float: none;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px; }

.settings-bar {
  font-size: 1.2em; }
  .settings-bar a {
    color: #aeaeae; }
    .settings-bar a.active {
      color: White; }

.grid form input[type="text"] {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s; }

.tutorial {
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0; }

.tutorial__bubble {
  background: #ffc107;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: .9rem;
  line-height: 1.3;
  margin-bottom: 20px;
  right: 15px;
  width: 90%;
  max-width: 400px;
  max-height: 40vh;
  float: right;
  position: relative;
  color: Black; }
  @media screen and (min-width: 1400px) {
    .tutorial__bubble {
      font-size: 1rem; } }
  .tutorial__bubble:after {
    border-left: 20px solid transparent;
    border-top: 20px solid #ffc107;
    bottom: -20px;
    content: "";
    position: absolute;
    right: 20px; }

.bubble__wrapper {
  overflow: hidden; }

.bubble__close {
  color: Black;
  padding: 5px 8px 0 0;
  position: absolute;
  right: 0;
  z-index: 3; }

.bubble__hints {
  max-height: 40vh;
  overflow-y: auto;
  padding: 15px 0 15px 15px;
  width: calc(100% + 17px); }

.hint__innter {
  padding-right: 15px; }
  .hint__innter h5 {
    margin-bottom: 0; }
  .hint__innter p {
    line-height: inherit; }

.tutorial__button {
  font-size: 1.8rem;
  cursor: pointer !important;
  clear: both;
  display: inline-block;
  float: right;
  height: 50px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom-right-radius: 0; }

.total-stats__map {
  -webkit-filter: blur(5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(5px); }

.total-stats__coming-soon {
  position: absolute;
  background: url("/images/coming-soon.png") center center no-repeat;
  width: 100%;
  height: 100%;
  z-index: 20; }

.chartjs-render-monitor {
  display: block;
  width: 740px;
  height: 197px; }

.chart-form__limit {
  width: 50px !important;
  padding: .375rem 0 .375rem 0;
  text-align: center;
  margin-right: 5px; }

.chart-form select {
  width: 100px; }

@media screen and (max-width: 400px) {
  .chart-form__limit,
  .chart-form select,
  .chart-form input {
    padding: 0;
    height: auto;
    width: auto; } }

.translations {
  overflow-x: auto;
  white-space: nowrap; }

.translations > .row > .col {
  display: inline-block;
  float: none;
  min-width: 200px; }

.translations > .row {
  flex-wrap: nowrap; }

.translations__row {
  height: 37px;
  font-size: 1.1em; }

.translations-add-input {
  width: calc(100% - 20px);
  float: right; }
