.total-stats__map {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);
}

.total-stats__coming-soon {
  position: absolute;
  background: url("/images/coming-soon.png") center center no-repeat;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.chartjs-render-monitor {
  display: block;
  width: 740px;
  height: 197px;
}

.chart-form__limit {
  width: 50px !important;
  padding: .375rem 0 .375rem 0;
  text-align: center;
  margin-right: 5px;
}

.chart-form select {
  width: 100px;
}

.chart-form__limit,
.chart-form select,
.chart-form input {
  @media screen and (max-width: 400px) {
    padding: 0;
    height: auto;
    width: auto;
  }
}
