.tutorial {
  z-index: 2;
  position: fixed;
  bottom: 0;
  right: 0;
}

.tutorial__bubble {
  background: #ffc107;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: .9rem;
  line-height: 1.3;
  margin-bottom: 20px;
  right: 15px;
  width: 90%;
  max-width: 400px;
  max-height: 40vh;
  float: right;
  position: relative;
  color: Black;

  @media screen and (min-width: 1400px) {
    font-size: 1rem;
  }

  &:after {
    border-left: 20px solid transparent;
    border-top: 20px solid #ffc107;
    bottom: -20px;
    content: "";
    position: absolute;
    right: 20px;
  }
}

.bubble__wrapper {
  overflow: hidden;
}

.bubble__close {
  color: Black;
  padding: 5px 8px 0 0;
  position: absolute;
  right: 0;
  z-index: 3
}

.bubble__hints {
  max-height: 40vh;
  overflow-y: auto;
  padding: 15px 0 15px 15px;
  width: calc(100% + 17px); //hide scrollbar
  //&::-webkit-scrollbar {
  //  display:none;
  //  width: 0;
  //  background: transparent;
  //}
}

.hint__innter {
  padding-right: 15px;

  h5 {
    margin-bottom: 0;
  }

  p {
    line-height: inherit;
  }
}

.tutorial__button {
  font-size: 1.8rem;
  cursor: pointer !important;
  clear: both;
  display: inline-block;
  float: right;
  //width: 50px;
  height: 50px;
  text-align: center;
  padding-bottom: 10px;
  //background-color: #0f9aee;
  //border-top: 2px solid Black;
  //border-left: 2px solid Black;
  border-bottom-right-radius: 0;
  //color: Black;
}

