{block content}
	<h1>{_error.410.title}</h1>
	<p>
        {_error.410.description}
	</p>
	<p>
		But you can <a href="/contact" title="Kontaktní formulář">contact</a> administrator
		If you still believe you should be able to view this page
	</p>
	<p>
		<small>Error 410</small>
	</p>
{/block}
