{if $user->isLoggedIn()}
    <div class="admin-bar container-fluid pt-1 pb-1 {$color}">
        <div class="row">
            <div class="col-auto text-left">
                <a class="text-white" href="{plink :Dashboard:Admin:Dashboard:}" data-ajax="false" title="Administration | CMS42">Administration</a>
            </div>
            <div class="col text-right">
                <span class="text-white">Logged as {$user->identity->username}</span>
            </div>
        </div>
    </div>
{/if}
