{block content}
    {if !$remotePlugins}
        There is no plugins available
    {/if}
    <section class="plugins container" n:snippet="plugins">
        {foreach $remotePlugins as $plugin}
            {if $iterator->odd}
                <div class="row">
            {/if}

            <div class="col">
                <div class="plugins__plugin row">
                    <div class="col-auto">
                        <img src="https://plugins-center.adamzelycz.cz/icons/{str_replace('/', '_', $plugin->identifier)}.png" class="backup-plugin"
                             alt="Plugin" width="90">
                    </div>
                    <div class="col">
                        <strong class="plugin__name">{$plugin->name}</strong>
                        <span class="plugin__identifier">({$plugin->identifier})</span>
                        <div class="plugin__author"><em>Author: </em> {$plugin->author}</div>
                        <div class="plugin__version"><em>Version: </em> {$plugin->version}</div>
                        <div class="plugin__description"><em>Description: </em>{$plugin->description}</div>
                        <div class="plugin__actions">
                            {if array_key_exists($plugin->identifier, $localPlugins)}
                                {if $localPlugins[$plugin->identifier]->version === $plugin->version}
                                    <button class="btn btn-success disabled mt-1">Installed</button>
                                {else}
                                    <a title="Update plugin {$plugin->name}"
                                       class="btn btn-danger mt-1" n:href="download! $plugin->id, $plugin->vendor, $plugin->package">
                                        Update
                                    </a>
                                {/if}
                            {else}
                                <a title="Download plugin {$plugin->name}"
                                   class="btn btn-primary mt-1" n:href="download! $plugin->id, $plugin->vendor, $plugin->package">
                                    Download
                                </a>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>

            {if $iterator->even}
                </div>
            {/if}
        {/foreach}
        <script n:nonce type="application/javascript">
            var plugins = document.getElementsByClassName('backup-plugin');
            for (var i = 0; i < plugins.length; i++) {
                plugins[i].onerror = function (e) {
                    e.target.src = '/images/plugin.png';
                };
            }
        </script>
    </section>
{/block}
