<!DOCTYPE html>
{block |strip}
<html lang="{$locale}">
<head>
    {control meta}
    <title n:snippet="title">{control title}</title>
    {block styles}
        {control css}
    {/block}
    {control favicon}
    <script n:nonce type="application/javascript">window._stack = [];</script>{*TODO pouze při zapnutém nittru*}
    {control js:async}
</head>
<body>
{control noscript}
<header n:snippet="header">{control header}</header>
{control flashes}
<main n:snippet="pageContent" class="main-content container content nittro-transition-auto nittro-transition-dim">{include content}</main>
{control footer}
{block scripts}
    {control js}
{/block}{*TODO google analytics*}
</body>
</html>
{/block}
