<div class="user-grid table-responsive">
    <table class="table-striped table mt-2">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
            <th>IP</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody n:snippet="users" n:dynamic="user-\d+" data-dynamic-element="tr">
        <tr>
            <td colspan="6">
                <a href="#" id="new-user" class="btn-edit btn btn-primary"
                   data-user="{json_encode(['id' => '', 'username' => '', 'password' => '', 'ip' => '', 'roles' => ''])}"
                   title="New user">
                    New user
                </a>
            </td>
        </tr>
        {foreach $users as $entry}
            {var $rolesArray = []}
            {foreach $entry->roles as $role}
                {var $rolesArray[$role->id] = $role->name}
            {/foreach}
            <tr n:snippet="'user-' . $entry->id">
                <td>{$entry->id}</td>
                <td class="username">{$entry->username}</td>
                <td>****</td>
                <td>
                    <span n:foreach="$rolesArray as $role">{$role}{sep}, {/sep}</span>
                </td>
                <td>{$entry->ip}</td>
                <td>
                    {var $userArray = [
                        'id' => $entry->id,
                        'password' => '',
                        'username' => $entry->username,
                        'ip' => $entry->ip,
                        'roles' => array_keys($rolesArray),
                    ]}
                    <a href="#" class="btn-edit btn btn-success" data-user="{json_encode($userArray)}">Edit</a>

                    <a n:href="remove! id => $entry->id"
                            class="nittro-confirm btn btn-danger"
                            data-prompt="Are you sure you want to remove {$entry->username}?"
                            data-confirm="Yes"
                            data-cancel="No"
                            data-dynamic-remove="#{snippetId 'user-' . $entry->id}">Remove</a>
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{control page}

{capture $form}
    {control userForm}
{/capture}

<script type="application/javascript" n:nonce>
    _stack.push(function (di, Utils) {
        let dlg = null;

        function handleEdit(evt) {
            let btn = Utils.DOM.closest(evt.target, 'a', 'btn-edit');
            if (btn) {
                evt.preventDefault();
                dlg.setValues(Utils.DOM.getData(btn, 'user'));
                dlg.show();
                let holder = document.getElementsByClassName('nittro-dialog-holder')[0];
                holder.addEventListener('click', function (e) {
                    let inner = document.getElementsByClassName('nittro-dialog-content')[0];
                    if (!inner.contains(e.target)) {
                        closeDialog();
                    }
                }, true);
            }

            function closeDialog() {
                dlg.hide();
                document.body.removeEventListener('click', closeDialog, true);
            }
        }

        di.getService('page').getSnippet({snippetId users})
            .setup(function (elem) {
                dlg = di.create('formDialog', {
                    options: {
                        html: {$form}
                    }
                });

                Utils.DOM.addListener(elem, 'click', handleEdit);
            })
            .teardown(function (elem) {
                dlg && dlg.destroy();
                dlg = null;
                Utils.DOM.removeListener(elem, 'click', handleEdit);

            });
    });
</script>
