<div class="masonry-item col-12 box-shadow">
    <div class="total-stats__coming-soon"></div>
    <div class="bd bgc-white total-stats__map">
        <div class="peers fxw-nw@lg+ ai-s">
            <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                <div class="layers">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Site Visits</h6></div>
                    <div class="layer w-100">
                        <img src="{$basePath}/images/map.png" alt="Map">
                    </div>
                </div>
            </div>
            <div class="peer bdL p-20 w-30p@lg+ w-100p@lg-">
                <div class="layers">
                    <div class="layer w-100">
                        <img src="{$basePath}/images/sideStats.png" alt="Site stats">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
