<div class="masonry-item w-100 visitor-stats__panel">
    <div class="row gap-20">
        <div n:foreach="$panels as $panel" class="col-md-3">
            <div class="layers bd bgc-white p-20">
                <div class="layer w-100 mB-10"><h6 class="lh-1">{$panel->getTitle()}</h6></div>
                <div class="layer w-100 row">
                    <div n:foreach="$panel->getValues() as $value" class="col-auto">
                        <div>{$value->getName()}</div>

                        <strong>{$value->getValue()}</strong>
                        <span n:if="$value->getTrend() !== null" n:class="$value->getTrend() >= 0 ? 'c-green-500 bgc-green-50' : 'c-red-500 bgc-red-50', 'fw-600 bdrs-10em pX-5'">
                                {$value->getTrend()|number} %
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
