<nav class="navbar navbar-expand-sm navbar-light bg-white page-edit-bar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle EditBar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-ajax="false" title="Edit page" href="{plink :Pages:Admin:Pages:edit $page->id}">Edit</span></a>
            </li>
            <li class="nav-item" n:snippet="publishButton">
                <a n:class="!$page->isPublished ? text-success : text-danger, nav-link"
                        title="{$page->isPublished ? 'UN' : ''}PUBLISH" href="{link publish!}">{$page->isPublished ? 'Unp' : 'P'}ublish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Delete page" href="{link delete!}">Delete</a>
            </li>
            {snippet publishTag}
                <li n:if="!$page->isPublished" class="nav-item">
                    <span class="btn btn-danger">Not published</span>
                </li>
            {/snippet}
        </ul>
    </div>
</nav>
