<div class="form-inline-space-5">
    <h3 class="h4">Edit</h3>
    {foreach $resources as $index => $resource}
        <div class="row">
            {control editForm-$index}
            <a n:href="delete! $resource->id" class="ml-3 fsz-lg text-danger" data-toggle="tooltip" title="Delete resource {$resource->name}">
                <i class="fa fa-trash"></i>
                <span class="sr-only">Delete</span>
            </a>

        </div>
    {/foreach}

    <div class="row mt-3">
        <h3 class="h4">Create</h3>
        {control newForm}
    </div>

</div>
