<div class="locale-changer">
    <div n:foreach="$locales as $locale" class="locale-changer__locale d-inline-block">
        <a href="{plink this, locale => $locale->code}" title="{$locale->name}">
            <img src="{$basePath}/static/{$locale->code}.svg" width="20" alt="{$locale->code}">
        </a>
    </div>
</div>
