<form n:name="form" data-reset="false" class="page-editor">
    <div class="row">
        <div class="col-md-9 col-xl-10">
            <div class="form-group row">
                <div class="col-md">
                    <div class="row">
                        {label title, class => 'col-sm-3'}
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col">{input title}</div>
                                <div class="col-auto">
                                    <a n:if="$pageLocale->htmlTitle === null" class="btn-success btn" data-toggle="collapse" href="#collapseHtmlTitle"
                                                                              role="button"
                                                                              aria-controls="collapseHtmlTitle"
                                                                              aria-expanded="false">HTML title</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="pl-3">{input hideTitle}</div>
                    </div>
                </div>
                <div n:class="$pageLocale->htmlTitle === null ? collapse, col-md-4" id="collapseHtmlTitle">
                    <div class="row">
                        {if $pageLocale->htmlTitle !== null}{label htmlTitle, class => 'col-sm-3'}{/if}
                        <div n:class="$pageLocale->htmlTitle !== null ? col-sm-9 : 'col'">
                            {input htmlTitle}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                {label url, class => 'col-sm-3'}
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col">
                            {input url}
                        </div>
                        <div class="col-auto" n:if="$edit">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#url-aliases-modal">
                                <span n:snippet="aliasesCount">{count($urlAliases)} Aliases</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                {label description, class => 'col-sm-3'}
                <div class="col-sm-9">
                    {input description}
                </div>
            </div>
            <div class="col-md-5 col-xl-3 pull-right text-right">
                <button type="button" class="btn btn-dark mb-2" data-toggle="modal" id="dynamic-control-show" data-target="#dynamic-controls-modal">
                    Dynamic Controls
                </button>
            </div>
            <div class="clearfix"></div>
            {snippet pageEditorContent}{input content}{/snippet}
            <div class="row mt-2">
                <div class="col">
                    <h5 class="h6 mb-0 d-inline mr-1">{label customCss}</h5>
                    <small>*Page selector is <strong>.page-{if $edit}{$page->url->urlPath}{else}"&lt;URL&gt;"{/if}</strong></small>
                    {input customCss}
                </div>
                <div class="col">
                    <h5 class="h6 mb-0">{label customJs}</h5>
                    {input customJs}
                </div>
            </div>

        </div>

        <div class="col-md-3 col-xl-2">
            <div class="list-group" n:if="$edit">
                <a n:if="$page->id" href="{plink :Pages:Front:Pages:default $page->id}" class="h5 d-block list-group-item list-group-item-action"
                                    title="Preview {$pageLocale->title}" target="_blank"><i
                            class="fa fa-eye"></i> Preview</a>

                <a n:if="$page->id" data-toggle="modal" href="#delete-buttons-modal" class="h5 d-block list-group-item list-group-item-action"
                                    title="Delete {$pageLocale->title}"
                                    data-prompt="Are you sure you want to remove page with title {$pageLocale->title}?"><i
                            class="fa fa-trash"></i> Delete</a>

                {snippet publishButton}
                <a n:if="$page->id" href="{link publish!}"
                                    class="h5 d-block list-group-item list-group-item-action{$page->isPublished ? ' active' : ''}"
                                    title="{$page->isPublished ? 'Unp' : 'P'}ublish {$pageLocale->title}"><i
                            class="fa fa-share"></i> {$page->isPublished ? 'Unp' : 'P'}ublish</a>{/snippet}
                {snippet publishedAt}<em n:if="$page->publishedAt !== null">Published at: {$page->publishedAt|dateTimeFormat}</em>{/snippet}
            </div>
            <hr>
            <div>
                <div class="row">
                    <div class="col-auto"><strong>{label locale}</strong></div>
                    <div class="col page-editor-locale-select">{input locale}</div>
                </div>
                <div n:class="!$edit ? d-none, 'page-editor-locale-action collapse'">
                    <small>{label localeAction}</small>
                    <small class="text-danger page-editor-locale-warning"></small>
                    {input localeAction}
                </div>

                <div><strong>{label authors}</strong></div>
                <div>{input authors}</div>

                <div n:if="$edit" class="pt-2">
                    <a data-toggle="modal" href="#previous-versions-modal">
                        <i class="fa fa-history"></i> Show previous versions <strong n:snippet="versionsCount">({count($pageLocale->content)}
                            )</strong>
                    </a>
                </div>

                <div class="pt-2">
                    <a n:class="$page->password ? text-danger" data-toggle="collapse" href="#collapsePassword" aria-expanded="false"
                                                               aria-controls="collapsePassword">
                        <i class="fa fa-lock"></i> {$page->password ? 'Change password' : 'Set password protection'}
                    </a>
                </div>
                <div class="collapse" id="collapsePassword">
                    <div id="password-none">{input passwordNone}</div>
                    <div id="password-container">
                        {input password}
                        <small id="password-hint" class="form-text text-muted">Empty = Do not change password</small>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                {input saveAndStay, class => 'btn btn-primary btn-block'}
                {input saveAndRedirect, class => 'btn btn-success btn-block'}
                {input discard, class => 'btn btn-danger leave-confirm btn-block'}
            </div>
        </div>
    </div>
</form>

{*MODAL WINDOWS*}
{if $edit}
    {modal delete-buttons,'Would you like to delete only this language mutation or entire page?'}
        <div class="delete-buttons">
            <div class="text-center"><a n:href="deletePageLocale!" data-dismiss="delete-buttons-modal"
                                                                   title="Delete page only in {$pageLocale->locale->name} language"
                                                                   class="btn btn-warning modal--dismiss">Only
                    <strong>{$pageLocale->locale->name}</strong> language</a>
                <a n:href="deletePage!" data-dismiss="delete-buttons-modal" title="Delete all languages for this page"
                                        class="btn btn-danger modal--dismiss"><strong>All</strong> language mutations</a></div>
        </div>
    {/modal}
    {modal previous-versions,Previous versions}
        {control pageContentVersions}
    {/modal}
{/if}

{modal url-aliases,URL aliases}
    {control urlAliases}
{/modal}

{modal dynamic-controls,Dynamic Controls}
    {control dynamicControls}
{/modal}

{*TODO nittro scripts*}
<script type="application/javascript" n:nonce>
    function showHidePasswordField() {
        if (document.getElementById('frm-pageEditor-form-passwordNone').checked) {
            document.getElementById('frm-pageEditor-form-password').disabled = true;
            document.getElementById('password-hint').style.display = 'none';
        } else {
            document.getElementById('frm-pageEditor-form-password').disabled = false;
            document.getElementById('password-hint').style.display = 'block';
        }
    }

    showHidePasswordField();
    document.getElementById('frm-pageEditor-form-passwordNone').addEventListener('change', showHidePasswordField);
    //
    // window.addEventListener("beforeunload", function (e) {
    //     let confirmationMessage = 'It looks like you have been editing something. '
    //         + 'If you leave before saving, your changes will be lost.';
    //
    //     (e || window.event).returnValue = confirmationMessage; //Gecko + IE
    //     return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
    // });
</script>
