<li class="dropdown">
    <a data-ajax="false" href="javascript:void(0);" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown"
       aria-expanded="false">
        <div class="peer mR-10"><img class="w-2r" src="{$basePath}/images/actions.svg" alt="Actions"></div>
        <div class="peer"><span class="d-none d-sm-block fsz-sm c-grey-900">Actions</span></div>
    </a>
    <ul class="dropdown-menu fsz-sm">
        {foreach $actions as $key => $action}
            {if $action instanceof App\Components\Admin\QuickActions\CustomAction}
                {capture $link}{link click! $key}{/capture}
                {$action->getElement($link, $basePath)}
            {elseif $action instanceof App\Components\Admin\QuickActions\SimpleAction}
                <li class="dropdown-item">
                    <a n:href="click! $key" title="{$action->getTitle()}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                        <img class="w-2r" src="{$basePath}/{$action->getImageSrc()}" alt="{$action->getTitle()}"> <span class="ml-2">{$action->getTitle()}</span>
                    </a>
                </li>
            {/if}
        {/foreach}
    </ul>
</li>
