{form form id => 'frm-translationsEditor-form'}
    <div class="translations container-fluid">
        <div class="row" id="translations-wrapper">
            <fieldset class="col-auto">
                <legend class="text-nowrap ov-h">
                    <button class="btn btn-success pb-0 pt-0" id="translations-add-button" type="button" role="button">Add</button>
                </legend>
                <div class="translations__row translations__row-key" n:foreach="$keys as $key">
                    <a href="#" data-ajax="false" class="text-danger translations-row__delete"
                       title="Delete row {$key}"><i class="fa fa-close"></i></a>
                    <span>{$key}</span>
                </div>
            </fieldset>
            <fieldset n:foreach="$form->getGroups() as $group" class="col" data-locale-code="{$group->getOption('locale')->getCode()}">
                <legend class="text-nowrap ov-h">{$group->getOption('label')}</legend>
                {foreach $group->getControls() as $input}
                    <div class="row">
                        <div class="w-90p translations__row">{input $input}</div>
                    </div>
                {/foreach}
            </fieldset>
        </div>
    </div>
    {input save}
{/form}
