{block content}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#translations-resources" role="button" aria-expanded="false"
        aria-controls="collapseExample">
    Edit translations
</button>
<div class="collapse mt-2" id="translations-resources">
    <div class="list-group d-inline-block">
        <a class="list-group-item d-inline-block" n:foreach="$langs as $lang" n:href="edit $lang" title="Edit translations {$lang}">{$lang}</a>
    </div>
</div>
<div class="mt-4">
    {control localeGrid}
</div>
