{define table-open-tag}
<table class="table table-bordered table-condensed table-striped table-responsive-lg">
    {/define}

    {define global-actions}
        <div class="grid-global-actions pull-left" n:ifset="$form[actions]">
            <div class="input-group">
                {input $form[actions][action] class => 'form-control'}
                <span class="input-group-btn">
			{input $form[actions][process] class => 'btn btn-primary'}
			</span>
            </div>
        </div>
    {/define}

    {define global-filter-actions}
        {input filter class => "btn btn-primary btn-sm"}
        {if $showCancel}
            {input cancel class => "btn btn-default btn-sm"}
        {/if}
    {/define}

    {define col-filter}
        {input $column->name class => "input-sm form-control"}
    {/define}

    {define row-actions-edit}
        {input save class => "btn btn-primary btn-xs"}
        {input cancel class => "btn btn-default btn-xs"}
    {/define}

    {define row-actions-add}
        {input add class => "btn btn-success btn-xs"}
        {input cancel class => "btn btn-default btn-xs"}
    {/define}

    {define row-head-actions-add-link}
        <a href="{link add!}" data-datagrid-edit class="ajax btn btn-success btn-xs row-actions-add-link" data-datagrid-add title="Add Row">
            <i class="fa fa-plus"></i><span class="sr-only">Add</span>
        </a>
    {/define}

    {define row-actions-edit-link}
        <a href="{link edit! $primary}" data-datagrid-edit title="Edit Row" class="btn btn-primary btn-xs row-edit-link"
           data-transition=".{$control->getUniqueId()}">
            <i class="fa fa-pencil"></i><span class="sr-only">Edit</span>
        </a>
    {/define}

    {define row-actions-delete-link}
        <a href="{link delete! $primary}" data-datagrid-delete class="btn btn-danger btn-xs nittro-confirm"
           data-transition=".{$control->getUniqueId()}"
           data-prompt="Are you sure you want to remove {$primary}?"
           data-confirm="Yes"
           data-cancel="No">
            <i class="fa fa-trash"></i><span class="sr-only">Delete</span>
        </a>
    {/define}

    {define empty-result}

    {/define}

    {define pagination}
        {php $page = $paginator->getPage()}
        {if $paginator->pageCount < 2}
            {php $steps = [$page]}
        {else}
            {php $arr = range(max($paginator->firstPage, $page - 3), min($paginator->lastPage, $page + 3))}
            {php $count = 4}
            {php $quotient = ($paginator->pageCount - 1) / $count}
            {for $i = 0; $i <= $count; $i++}
                {php $arr[] = round($quotient * $i) + $paginator->firstPage}
            {/for}
            {php sort($arr)}
            {php $steps = array_values(array_unique($arr))}
        {/if}
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-end">
                {if $paginator->isFirst()}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" title="Previous page">{$control->translate(Previous)}</a>
                    </li>
                {else}
                    <li class="page-item">
                        <a class="page-link" href="{link paginate!, 'page' => $paginator->page - 1}"
                           title="Previous page">{$control->translate(Previous)}</a>
                    </li>
                {/if}

                {foreach $steps as $step}
                    <li n:class="$step === $paginator->page ? active, page-item">
                        <a class="page-link" title="Page {$step}" href="{link paginate!, 'page' => $step}">{$step}</a>
                    </li>
                {/foreach}

                {if $paginator->isLast()}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" title="Next page">{$control->translate(Next)}</a>
                    </li>
                {else}
                    <li class="page-item">
                        <a class="page-link" href="{link paginate!, 'page' => $paginator->page + 1}" title="Next page">{$control->translate(Next)}</a>
                    </li>
                {/if}
            </ul>
        </nav>
    {/define}
