.anchor--no-style {
  color: inherit !important;
  text-decoration: none !important; }

.cursor--default {
  cursor: default; }

.cursor--pointer {
  cursor: pointer; }

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.font-weight-700 {
  font-weight: 700; }

.row--no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.line {
  margin: 20px 0;
  border-bottom: 1px solid Grey; }

.h--no-style {
  font-size: inherit;
  font-weight: normal;
  margin: 0; }

.col-centered {
  float: none;
  margin: 0 auto; }

.lists--unstyled ul {
  padding-left: 0;
  list-style: none; }

nav.navbar {
  z-index: 9911; }

.error {
  color: Red;
  font-size: .9em; }

.content-inner {
  display: flex;
  flex-direction: column; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: none; }

.main-content {
  padding: 30px 10px; }
  @media (min-width: 576px) {
    .main-content {
      padding: 30px 0; } }

.gitlab-corner {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999; }

.gitlab-corner:hover {
  opacity: 0.6; }

.navbar-brand {
  margin-right: 0; }

.menu-button__container {
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  padding-right: 10px; }

.noscript-warning {
  position: relative;
  margin-bottom: 0; }

.nittro-flash-global-holder {
  position: fixed;
  z-index: 9912;
  left: 0;
  top: 60px;
  width: 100%;
  height: 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flashes--nonajax {
  position: fixed;
  z-index: 9912;
  left: 0;
  top: 60px;
  width: 100%;
  height: 0;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nittro-flash {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-width: 30vw;
  max-width: 90vw;
  padding: 4px 2vw;
  text-align: center;
  margin: 0; }

.nittro-flash-success {
  background-color: #dff0d8 !important;
  border-color: #d0e9c6;
  color: #3c763d; }

.nittro-flash-info {
  background-color: #d9edf7 !important;
  border-color: #bcdff1;
  color: #31708f; }

.nittro-flash-warning {
  background-color: #fcf8e3 !important;
  border-color: #faf2cc;
  color: #8a6d3b; }

.nittro-flash-danger {
  background-color: #f2dede !important;
  border-color: #ebcccc;
  color: #a94442; }

.nittro-flash-error {
  background-color: #f2dede !important;
  border-color: #ebcccc;
  color: #a94442; }

.alert .close {
  float: none;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px; }
