{contentType application/xml; charset=utf-8}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

    <url n:foreach="$urls as $loc => $url">
        <loc>{$loc}</loc>
        <changefreq n:ifset="$url['change']">{$url['change']}</changefreq>
        <priority n:ifset="$url['priority']">{$url['priority']|number:2}</priority>
        {if $url['alternate']}
            {foreach $url['alternate'] as $alternateUrl}
        <xhtml:link rel="alternate" hreflang="{$alternateUrl['code']}" href="{$alternateUrl['link']}"/>
            {/foreach}
        {/if}
    </url>
</urlset>
