.anchor--no-style {
  color: inherit !important;
  text-decoration: none !important;
}

.cursor--default {
  cursor: default;
}

.cursor--pointer {
  cursor: pointer;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-weight-700 {
  font-weight: 700;
}

.row--no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.line {
  margin: 20px 0;
  border-bottom: 1px solid Grey;
}

.h--no-style {
  font-size: inherit;
  font-weight:normal;
  margin: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.lists--unstyled ul {
  padding-left: 0;
  list-style: none;
}
