{block content}
<div class="col-lg-6 col-centered">
    <div class="text-center">
        <h2>{$pageLocale->title}</h2>
        <div class="display-1"><i class="fa fa-lock"></i></div>
        <h3 class="h5">{_pages.description}</h3>
    </div>
    {control authenticationForm}
</div>
